<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eladmin.largescreen.mapper.PieceMapper">

<!--    统计各省份病害数量排行, 从高到低, 取前8-->
    <select id="statisticsProvinceNum" resultType="com.eladmin.largescreen.entity.ProvinceNum">
        select detect_province as name, COUNT(piece_id) as value FROM piece GROUP BY detect_province order by value desc LIMIT 8
    </select>

<!--    统计各路基类型的数量, 并按照空洞，脱空，疏松，渗水的顺序输出-->
    <select id="statisticsDiseaseTypesCounts" resultType="java.lang.Integer">
        SELECT COUNT(*) AS count
        FROM piece
        WHERE disease IN ('路基空洞', '路基脱空', '路基疏松', '路基渗水')
        GROUP BY disease
        ORDER BY
            CASE disease
            WHEN '路基空洞' THEN 1
            WHEN '路基脱空' THEN 2
            WHEN '路基疏松' THEN 3
            WHEN '路基渗水' THEN 4
        END;
    </select>

</mapper>
