<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eladmin.largescreen.mapper.TunnelMapper">

    <select id="getTunnelDataAllOrderByState" resultType="com.eladmin.largescreen.entity.Tunnel">
        SELECT *
        FROM tunnel
        ORDER BY tunnel_state ASC
    </select>
    <select id="getTotal" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM tunnel;
    </select>
    <select id="getFixed" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM tunnel WHERE tunnel_state = 4;
    </select>
    <select id="getFixing" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM tunnel WHERE tunnel_state = 3;
    </select>

    <select id="StatisticsRepairRateOfEachCity" resultType="com.eladmin.largescreen.entity.UrbanRepairRate">
        SELECT
            city,
            COUNT(CASE WHEN tunnel_state = 4 THEN 1 END) AS fixedCount,
            COUNT(*) AS totalCount,
            COUNT(CASE WHEN tunnel_state = 4 THEN 1 END) / COUNT(*) AS fixRate
        FROM tunnel
        GROUP BY city;
    </select>


</mapper>
